*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
PoetDemo/.idea/*
javapoetdemo/.idea/*
*.idea/*
.idea/
PoetDemo/.idea/compiler.xml
PoetDemo/.idea/gradle.xml
PoetDemo/.idea/jarRepositories.xml
javapoetdemo/.idea/caches/build_file_checksums.ser
javapoetdemo/.idea/compiler.xml